<footer class="footer bg-info d-flex flex-column">
    <span class="footer__author text-center">Developed by dimasic25</span>
    <div class="footer__messengers d-flex align-items-center justify-content-center">
        <a href="https://vk.com/dimasik25"><img src="{{ asset('images/vk.png') }}" alt="" title="Перейти в Vk"></a>
        <a href="https://github.com/dimasic25"><img src="{{ asset('images/github.png') }}" alt=""
                                                    title="Перейти в Гитхаб"></a>
        <a href=""><img src="{{ asset('images/telegram.png') }}" alt=""
                        title="Перейти в Телеграм"></a>
    </div>
</footer>