<header class="header d-flex align-items-center justify-content-around py-3 bg-primary">
    <div class="header__title">
        <a href="/" class="text-white">Latest News</a>
    </div>

    <div class="header__buttons d-grid gap-2 d-md-flex justify-content-md-end">
        {% if app.user is null %}
        <a class="header__sign-in-btn btn btn-primary me-md-2" href="/login">Войти</a>
        <a class="header__sign-up-btn btn btn-primary" href="/register">Зарегистрироваться</a>
        {% else %}
        <a>Здравствуй, {{ app.user.name }}</a>
        <a class="btn btn-sm btn-outline-danger" href="/logout">Выйти</a>
        {% endif %}
    </div>

</header>